{% extends 'base.html.twig' %}

{% block meta_description %}Mot de passe oublié - Étape 1{% endblock %}

{% block title %}Mot de passe oublié - Étape 1{% endblock %}

{% block body %}

    <main class="mt-3 container">

        <h1 class="text-center">Mot de passe oublié - Étape 1</h1>

        {{ form_start(forgotPasswordFormStep1) }}

        <div class="mt-5 row">
            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep1.email.first) }}
            </div>
            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep1.email.second) }}
                {# {{ form_label(forgotPasswordFormStep1.email.second) }} #}
                {# {{ form_widget(forgotPasswordFormStep1.email.second) }} #}
                {# {{ form_error(forgotPasswordFormStep1.email.second) }} #}
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary d-block mx-auto" title="Saisissez deux fois votre adresse e-mail pour recevoir un lien de récupération.">Envoyez-moi un lien de récupération</button>
        </div>

        {{ form_end(forgotPasswordFormStep1) }}

    </main>

{% endblock %}